---
---
@import "minima";

/* VSCode 헤딩 컬러 & 강조 커스텀 */
h1 { color: #AA88CC; }
h2 { color: #79A7FF; }
h3 { color: #55CCCC; }
h4 { color: #99FF99; }
h5, h6 { color: #33AA33; }
strong { color: #FFE600 !important; font-weight: bold; }
em     { font-style: italic; }
u      { text-decoration: underline; }